@charset "utf-8";
#container{
  width:500px;
  margin:auto;
}


/*neeeeoooon*/


a{
  text-decoration:none; 
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.af1{
	float:left;
	font-size: 24px;
	font-family: "微软雅黑";
	font-weight: bold;
  color:#FFFFFF;
  position:absolute; left:873px; top:50px; 
}
.af1:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}


.af2{
float:left;
	font-size: 24px;
	font-family: "微软雅黑";
  color:#FFFFFF;font-weight: bold;
  position:absolute; left:953px; top:50px; 
}
.af2:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}


.af3{
float:left;
	font-size: 24px;
	font-family: "微软雅黑";
  color:#FFFFFF;font-weight: bold;
  position:absolute; left:1033px; top:50px; 
}
.af3:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}

.af4{
float:left;
	font-size: 24px;
	font-family: "微软雅黑";
  color:#FFFFFF;font-weight: bold;
  position:absolute; left:1113px; top:50px; 
}
.af4:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}

.af5{
float:left;
	font-size: 24px;
	font-family: "微软雅黑";
  color:#FFFFFF;font-weight: bold;
  position:absolute; left:1193px; top:50px; 
}
.af5:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}

.af6{
float:left;
	font-size: 24px;
	font-family: "微软雅黑";
  color:#FFFFFF;font-weight: bold;
  position:absolute; left:1273px; top:50px; 
}
.af6:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}
.af7{
float:left;
	font-size: 18px;
	font-family: "微软雅黑";
  color:#FFFFFF;font-weight: bold;
  position:absolute; left:1245px; top:417px; 
}
.af7:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}


/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFFFFF,
               0 0 70px  #FFFFFF,
               0 0 80px  #FFFFFF,
               0 0 100px #FFFFFF,
               0 0 150px #FFFFFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFFFFF,
               0 0 35px #FFFFFF,
               0 0 40px #FFFFFF,
               0 0 50px #FFFFFF,
               0 0 75px #FFFFFF;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFFFFF,
               0 0 70px  #FFFFFF,
               0 0 80px  #FFFFFF,
               0 0 100px #FFFFFF,
               0 0 150px #FFFFFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFFFFF,
               0 0 35px #FFFFFF,
               0 0 40px #FFFFFF,
               0 0 50px #FFFFFF,
               0 0 75px #FFFFFF;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFFFFF,
               0 0 70px  #FFFFFF,
               0 0 80px  #FFFFFF,
               0 0 100px #FFFFFF,
               0 0 150px #FFFFFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFFFFF,
               0 0 35px #FFFFFF,
               0 0 40px #FFFFFF,
               0 0 50px #FFFFFF,
               0 0 75px #FFFFFF;
  }
}

